<% @tweets.each do |tweet| %>
   <div class="d-block ">
   <div class="d-flex justify-content-between">
   <p><%= tweet.author.username %></p>
	<p><%= tweet.created_at.strftime("#{tweet.created_at.day.ordinalize} %B %Y") %></p>
   </div>

	<p><%= tweet.text %></p>
   <%=like_or_dislike_btn(tweet)%>
   <span class="text-primary"><%= likes_count(tweet) %></span>
	</div>
<% end %>
