	<div class="d-flex flex-row no-gutters bg-light">

		<div class="col-2">
		  <%= render 'left_nav' %>
		</div>

		<div class="col-10">
		 <%= render 'top_nav' %>
		  <div class="d-flex flex-row no-gutters">
		   <div class="col-9">
		   <div class="mx-auto bg-white rounded">
		   <%= render 'form' %>
		   </div>

		   <div class="mx-auto bg-white w-75 mt-5">
		     <%= render 'feed' %>
		   </div>
		   
		   </div>
		   <div class="col-3">
		    <%= render 'who-to-follow' %>
		   </div>
		  </div>
		</div>

	</div>


